{% extends 'notes/index.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="mt-xl h-100 d-flex align-items-center justify-content-center myforms" >
    <form method="post" action="">
        <h1>Login :)</h1>
        <div class="form-group">
        {% csrf_token %}

        {{ form|crispy }}

        </div>
        <button type="submit" class="btn btn-light my-3 ">Submit</button>


        <p>Dont have a account? <a href=" {% url 'signup' %} " class="submit-btn" > Sign Up</a></p>
    </form>
    
</div>




{% endblock %}