{% extends 'notes/index.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="myheading">Welcome to SimpleNotes!!!</h1>
<div class="inner-container notesform">
    <div class="column is-one-third >
        <form method ="POST"  action="" class="">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-light my-3 ">Save</button>
        </form>


    </div>
    <div>
        {% if posts %}
        {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
        <a href="delete/{{post.id}}">delete</a>
        {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock %}