{% extends 'notes/index.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="myheading">Welcome to SimpleNotes!!!</h1>
<div class="inner-container notesform">
    <div class="column is-one-third">
        <form method="post" action="" class="">
            {% csrf_token %}

            {{ form|crispy }}
            <div class="postbutton">
                <button type="submit" class="btn btn-light my-3 mysavebutton">Save</button>
            </div>
            
        </form>


    </div>
    <div class="allposts">
        {% if posts %}
        {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
        <a href="delete/{{post.id}}" class="delete-button">Delete</a>
        <hr>
        {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock %}