{% extends 'notes/index.html' %}
{% load crispy_forms_tags %}  
{% block content %}

<div class=" h-100 d-flex align-items-center justify-content-center signupform ">
    <form method ="POST" class="signupform2">
        <div class="form-group">
            <h1>Sign up (　＾∇＾)</h1>
        {% csrf_token %}

        {{ form|crispy }}
        </div>
        <button  class="btn btn-light my-3" >Submit</button>
        <p>Already have a account? <a href=" {% url 'login' %} " class="submit-btn"> Sign Up</a></p>
    </form>
</div>

{% endblock %}