@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(82 82 82) 100%);
    height: 100%
}

#div_id_username, #div_id_username {
    margin-bottom: 20px;
    padding: 5px;
}


#div_id_username {
    margin-bottom: 15px;
}

.asteriskField{
    margin-top: 20px;
}

.myforms {
    margin-top: 150px;
}

.signupform{
    margin-top: 40px;
    padding: 10px;
    /* width : 70px */
}

.signupform2{
    max-width: 400px;
    min-width: 200px;
}

.submit-btn{
    color: red;
    text-decoration: none;
}

.message{
    justify-content: center;
    text-align: center;
    color : #b7b7ff;
    margin-top: 14px;
}

.mynavbar {
    color: #b7b7ff;
    margin-left: 70px;
}

.mynavbar :hover {
    color : white
}

.topnav {
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    margin: auto;
    margin : 10px 10px;
    font-weight: bold;
    /* margin-left : 36% */
}


.topnav a {
    color: #a1a1a1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
  color: white;
}

.myheading{
    text-align: center;
    margin : 10px 0px;
    color: #ceaaaa;
}

.notesform{
    max-width: 600px;
    padding: 10px;
    margin: auto;
}

#div_id_title{
    margin: 10px 0px;
}

.delete-button{
    text-decoration: none;
    color: red;
}

.postitle{
    margin-top: 10px;
    margin-bottom: 15px;
}

.postdes{
    margin-top: 10px;
    margin-bottom: 15px;
}

.mysavebutton{
    margin-bottom: 15px;
    justify-content: center;
    padding: 10px 20px;
    color: #202020;
    background-color: #ffffff;
}

.allposts{
    margin-top :10px
}

.allposts h1 {
    text-align: center;
}

.postbutton{
    text-align: center;
}

.mysavebutton :hover {
    color:blue;
}